<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body> 
    <div class="page-header">
        <h1>Página Inicial</h1>
    </div>
    <div class="page-content">
        <form method="post">
            Pesquisar: <input type="text" name="txtPesquisa" placeholder="Pesquisar">
            <input type="submit" value="Pesquisar">
        </form>
        <p>Seja bem-vindo à pagina inicial.</p>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Foto</th>
                <th>Deletar</th>
                <th>Editar</th>
            </tr>
            <% for(usuario of Usuarios){ %>
            <tr>
                <td><%=usuario._id%></td>
                <td><%=usuario.nome%></td>
                <td><%=usuario.email%></td>
                <td><img src="/fotos/<%=usuario.foto%>" alt="Foto do Usuário <%=usuario.nome%>"></td>
                <td>
                    <a href="/del/<%=usuario._id%>">Deletar</a>
                </td>
                <td>
                    <a href="/edit/<%=usuario._id%>">Edit</a>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
</body>
</html>